*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background-color: #34424a;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}
.nav-right{
    display:flex;
    /* word-spacing: 10px; */
}
.nav-left{
    margin-left: 10px;
    font-size: 27px;
    font-family: sans-serif;
    font-weight: bold;
}
#services,
#about,
#home {
    padding: 20px;
}

#services,
#about,
#home :hover{
    cursor: pointer;
}

.home-btn{
    text-decoration: none;
    color: white;
}

.about-btn{
    text-decoration: none;
    color: white;
}
.service-btn{
    text-decoration: none;
}


span{
    color:#A9508B;
    
}

.section1{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color:#34424a ;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

#buton {
    background-color: #E8491D;
    color: white;
    border: none;
}
#email,
#buton{
    padding: 8px;
}
#buton:hover {
    cursor: pointer;
}

.section-right1 {
    margin-right: 10px;
}

.section-left1{
    margin-left: 10px;
}

.main3 {
    display: flex;
    font-family: sans-serif;
    line-height: 20px;
    /* width: 80%; */
    /* border: 1px solid red; */
    height: 647px;
}

.main3-left {
    /* border: 1px solid red; */
    padding: 20px;
    height: 100px;
    margin: 20 ;
    width: 70%;
    
}

.main3-left-par {
    /* border: 1px solid red; */
    /* width: 60%; */
    background-color: #e6e6e6;
    height: 130px;
    align-items: center;
    margin-top: 20px;
    padding-top: 23px;
    padding-left: 25px;

}

.main3-right{
    /* border: 1px solid red; */
    padding: 20px;
    background-color: #34424a;
    color: white;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 20px;
    height: 250px;
    width: 30%;

}

.form {
    /* border: 1px solid red; */
    line-height: 20px;
    width: 100%;
    margin: 20 0;
    background-size: cover;
    padding: 0 15px;
    padding-left: 0;
}
#text{
    font-size: 15px;
}
#email1,
/* #message, */
#name {
    width: 100%;
    height: 22px;
}

.button {
    background: #e8491e;
    padding: 5px;
    color: white;
    /* border: 1px solid black; */
    margin-top: 5px;
    font-size: 13px;
    font-family: sans-serif;
    width: 60px;
    border: none;

}
.button:hover{
    cursor: pointer;
}

.footer {
    display: flex;
    background-color:#34424a ;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    /* border: 1px solid red;  */
}

.footer-metin{
    text-align: center;
    /* border: 1px solid red; */
    /* justify-content: center; */
    height: 100px;
    /* align-items: center; */
    align-content: center;
    margin-top: 24px;
}
.footer p {
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    
}